Repository FinAgent-Lab/market-analysis-team, pull requests merged in 2025-07, with the labels that each got.

#127 feat: Add Google crawler with LLM date parsing (#120)
  main.py
  pyproject.toml
  src/graph/nodes/__init__.py
  src/graph/nodes/google_crawler.py
  src/graph/nodes/google_search_api.py
  src/tools/__init__.py
  src/tools/google_crawler/__init__.py
  src/tools/google_crawler/google_crawler.py
  src/tools/google_crawler/tool.py
  src/tools/google_search_api/google_search_api.py
  src/tools/google_search_api/tool.py
  tests/test_google_crawler.py
  uv.lock
Labels: enhancement, feature, tests

#129 Feat/128
  main.py
  pipelines/agent_pipeline_example.py
  src/graph/nodes/__init__.py
  src/graph/nodes/us_financial_fmg.py
Labels: enhancement, feature

#136 update: stockinfo 및 USFinancialAnalyzer 임시 주석 처리
  .gitignore
  main.py
Labels: enhancement, feature

#138 fix: 배포 시, 캐시 제거
  .github/workflows/deployment-prod.yml
  images/backend/Dockerfile
Labels: bug, configuration

#139 fix(tools): USFinancialStatementTool LLM 파라미터 정리로 OpenAI API 에러 해결
  main.py
  src/tools/us_stock/tool.py
Labels: bug, enhancement

#141 add: 사용자 채팅에 메타 수퍼바이저 추가
  docker-compose.prod.yaml
  pipelines/meta_supervisor_pipeline.py
Labels: enhancement, configuration, feature
