Repository FinAgent-Lab/market-analysis-team, pull requests merged in 2025-06, with the labels that each got.

#98 Feat/96
  src/graph/nodes/usa_financial_api.py
Labels: enhancement, feature

#89 [feat]: 백테스팅을 위한 날짜 기반 미국 주식 분석 기능 추가
  src/tools/us_stock/tool.py
Labels: enhancement, feature

#102 fix: Milvus vector store 초기화 비활성화로 앱 안정성 확보
  startup.py
Labels: bug, enhancement

#104 fix: wire에서 recap 관련 의존서 주입 제거
  main.py
Labels: bug, enhancement

#105 fix: build() 메서드 주석 처리 제거
  main.py
Labels: bug, enhancement

#107 fix: CI 프로세스 수정
  .github/workflows/deployment-prod.yml
  docker-compose.prod.yaml
  images/backend/Dockerfile
Labels: bug, configuration

#108 fix: 배포 워크플로우에서 적용되는 브랜치 수정 및 불필요한 단계 제거
  .github/workflows/deployment-prod.yml
Labels: bug, configuration

#112 update: 네이버 검색 에이전트에, 날짜 필터링 적용
  .github/workflows/deployment.yml
  pyproject.toml
  src/graph/nodes/naver_news_searcher.py
  src/tools/__init__.py
  src/tools/naver_searcher/naver_search.py
  src/tools/naver_searcher/tool.py
  uv.lock
Labels: enhancement, configuration, feature

#114 add: 각 노드별 쿼리 요청 시, 트레이서 적용
  main.py
  src/graph/nodes/base.py
  src/graph/nodes/company_facts_analyzer.py
  src/graph/nodes/google_searcher.py
  src/graph/nodes/hantoo_financial.py
  src/graph/nodes/naver_news_searcher.py
  src/graph/nodes/report_assistant.py
  src/graph/nodes/retrieve_esg.py
  src/graph/nodes/rss_feeder.py
  src/graph/nodes/stockinfo_report.py
  src/graph/nodes/us_financial.py
  src/graph/nodes/us_financial_fmg.py
  src/graph/nodes/weekly_reporter.py
Labels: enhancement, feature

#117 fix : Finanacialdataset API key error
  src/graph/nodes/company_facts_analyzer.py
  src/tools/company_facts/tool.py
Labels: bug, enhancement

#118 fix: Financialdataset API key error
  src/tools/company_facts/tool.py
Labels: bug, enhancement

#116 [feat]: 미국 주식 분석에 점수화 시스템 추가
  assets/report_template.md
  src/graph/nodes/us_financial.py
  src/tools/us_stock/__init__.py
  src/tools/us_stock/alpha_vantage_formatters.py
  src/tools/us_stock/alpha_vantage_scoring.py
Labels: documentation, enhancement, feature

#122 fix: main.py에서 StockInfoNode 주석 처리, 종합 처리 기능 적용 시 주석 해제 예정
  main.py
Labels: enhancement, feature
