Repository FinAgent-Lab/market-analysis-team, pull requests merged in 2025-05, with the labels that each got.

#45 update: 보고서 템플릿 추가 및 ReportAssistantNode 수정 #44
  assets/report_template.md
  main.py
  src/graph/builder.py
  src/graph/nodes/report_assistant.py
  src/models/graph_state.py
  src/tools/google_searcher/google_search.py
Labels: documentation, enhancement, feature

#46 update: ReportAssistantNode에서 템플릿 지시사항 통합 및 코드 정리
  src/graph/nodes/report_assistant.py
Labels: bug, enhancement

#47 [refactor]: 미국 주식 분석기 코드 모듈화 및 기능 개선
  src/tools/us_stock/__init__.py
  src/tools/us_stock/alpha_vantage.py
  src/tools/us_stock/alpha_vantage_client.py
  src/tools/us_stock/alpha_vantage_formatters.py
  src/tools/us_stock/alpha_vantage_profitability.py
  src/tools/us_stock/alpha_vantage_stability.py
  src/tools/us_stock/tool.py
Labels: bug, enhancement

#48 fix: report assistant에 read 도구 추가
  src/graph/nodes/report_assistant.py
  src/tools/us_stock/__init__.py
  src/tools/us_stock/alpha_vantage_client.py
  src/tools/us_stock/alpha_vantage_formatters.py
  src/tools/us_stock/alpha_vantage_profitability.py
  src/tools/us_stock/alpha_vantage_stability.py
  src/tools/us_stock/tool.py
  uv.lock
Labels: bug, enhancement

#51 [feat]: 수익성 & 안정성 분석 기능 통합 및 환경변수 추가
  .github/workflows/deployment.yml
  assets/report_template.md
  docker-compose.yaml
  main.py
  pipelines/profitability_stability_pipeline.py
  src/tools/us_stock/__init__.py
  src/tools/us_stock/alpha_vantage_client.py
  src/tools/us_stock/alpha_vantage_formatters.py
  src/tools/us_stock/alpha_vantage_profitability.py
  src/tools/us_stock/alpha_vantage_stability.py
  src/tools/us_stock/tool.py
Labels: documentation, enhancement, configuration, feature

#53 fix: Add google_api_key
  .github/workflows/deployment.yml
  docker-compose.yaml
  main.py
Labels: bug, enhancement, configuration

#54 feat: Enhance google search prompt
  src/graph/nodes/google_searcher.py
  src/tools/google_searcher/google_search.py
Labels: enhancement, feature

#50 update: 항상 리포트 포맷으로 반환하도록 수정
  src/graph/nodes/supervisor.py
Labels: enhancement, feature

#58 [fix]: Alpha Vantage API 퍼센티지 변환 중복 문제 해결
  src/tools/us_stock/__init__.py
  src/tools/us_stock/alpha_vantage_client.py
  src/tools/us_stock/alpha_vantage_formatters.py
  src/tools/us_stock/alpha_vantage_profitability.py
  src/tools/us_stock/alpha_vantage_stability.py
  src/tools/us_stock/tool.py
  tests/us_stock/alpha_vantage_test.py
  tests/us_stock/raw_financial_metrics_test.py
  tests/us_stock/us_financial_test.py
  tests/us_stock/us_financial_tool_test.py
Labels: bug, enhancement, tests

#57 Feat/temp
  .DS_Store
  main.py
  main_temp.py
  src/graph/agents/market_agent.py
  src/graph/nodes/us_financial_fmg.py
  src/graph/nodes/usa_financial_api.py
Labels: enhancement, feature

#60 FINANCIAL_API_KEY 추가
  docker-compose.yaml
Labels: configuration, feature

#62 deployment.yml에 FINANCIAL_API_KEY추가
  .github/workflows/deployment.yml
Labels: configuration, feature

#63 [fix]: 수익성 분석 파이프라인 API 엔드포인트 불일치 수정
  pipelines/profitability_stability_pipeline.py
Labels: bug, enhancement

#65 feat: openrouter 적용
  .env.tamplate
  .github/workflows/deployment.yml
  api/models.py
  docker-compose.yaml
  main.py
  src/graph/builder.py
  startup.py
Labels: enhancement, configuration, feature

#69 update: supervisor 프롬프트 내 각 노드 역할을 명시
  api/models.py
  main.py
  src/graph/nodes/supervisor.py
  startup.py
Labels: enhancement, feature

#73 update: 재무제표 기능 주석 처리
  main.py
Labels: enhancement, feature

#75 [fix]: OpenRouter API 통합 및 환경변수 설정 개선
  .env.tamplate
  src/graph/nodes/us_financial.py
Labels: bug, enhancement

#81 fix: GPU 의존성 제거
  docker-compose.prod.yaml
Labels: bug, configuration

#88 fix: 코드 정리과정에서 제거된 코드 재추가
  main.py
Labels: bug, enhancement
